// Colors

$head-color : #502274;
$logo-color : #FE7700;
$white : #fff;
$black : #000;
$label-color:#2F242C;
$placeholder-color:#96969B;
$btn-color:#FE7700;
$card-color:#502274;
$faded-color:#9B9896;
$foot-link-color:#C8C7CC;
$google-btn :#4285F4;
$pills-border : #C8C7CC;
$pills-text:#707070;
$rate-color:#7692FF;
$border: #EAEAEA;
$input: #EAEAEA;


// Font Face
$mont-reg: Montserrat-Regular;
$mont-semi-bold: Montserrat-SemiBold;
$mont-med: Montserrat-Medium;
$mont-bold: Montserrat-Bold;